* {
	margin: 0;
	padding: 0;
	font-family: "Fira Code", monospace;
  box-sizing: border-box;
}
html,
body {
	height: 100%;
	background-color: #02040a;
}

#navlist { 
   position: absolute;
   width: 100%;
   background-color: #161b22;
   z-index: 9999;
}
#navlist a { 
   float: left;
   display: block;
   color: #c3ccd4;
   text-align: cetner;
   padding: 1em;
   text-decoration: none;
   font-size: 1.25rem;
   cursor: pointer;
}
.title {

   display: flex;
   position: absolute;
   left: 50%;
   text-align: center;
   overflow: hidden;
   display: flex;
   text-decoration: none;
   transform: translate(-50%, 0%);
   align-items: center;
   align-self: center;
   vertical-align: middle;
   align-content: center;
}

.navlist-right { 
   float: right;
}

.content {
  max-width: 50%;
	padding-top: 4rem;
	position: relative;
	left: 50%;
  transform: translate(-50%, 0%);
	display: flex;
	flex-direction: column;
	padding-bottom: 200px;

}
.newHeader {
  margin-top: 1rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;  
}
#howTo:hover {
   color: #f88166; 

}
#codeSVG:hover { 
   color: #1f6feb;
}
#aboutSVG:hover {
   color: #228636;
}
h1 {
  color: #c3ccd4;
  display: block;
  text-align: center;
  margin-bottom: 1.5rem;
 
}
p { 
  color: #c3ccd4;
  margin-left: 10%;
  margin-right: 10%;
}
hr { 
  background-color: #30363c;
  margin-left: 10%;
  margin-right: 10%;
  border:none;
  height: 1px;
}
.letterBox { 
  border: 2px solid #30363c;
  margin: 3px;
  font-size: 3.25rem;
  color: #c3ccd4;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e1117;
  
}
.letterRow { 
  display: flex;
  margin-left: 10%;
  
}